<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head><title>Portfolios</title></head>
<body>
<h1>Portfolios</h1>
<table>
    <thead><tr><th>Name</th><th>Description</th><th>Balance</th><th>Actions</th></tr></thead>
    <tbody>
    <tr th:each="p : ${portfolios}">
        <td th:text="${p.name}">Portfolio name</td>
        <td th:text="${p.description}">desc</td>
        <td th:text="${#numbers.formatDecimal(${balances[p.id]}, 2, 'COMMA',  '.', '')}">0.00</td>
        <td>
            <a th:href="@{/portfolio/{id}(id=${p.id})}">Details</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
